<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>
  <vendor>openSUSE</vendor>
  <vendor_url>https://www.opensuse.org/</vendor_url>
  <icon_name>systemd-mcp</icon_name>
  <action id="org.opensuse.systemdmcp.AuthRead">
    <description>Read access to the systemd-mcp service</description>
    <message>Authentication is required for read access to the systemd-mcp service</message>
    <defaults>
      <allow_any>auth_admini_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
   <annotate key="org.freedesktop.policykit.imply">org.freedesktop.systemd1.manage-units</annotate>
  </action>
  <action id="org.opensuse.systemdmcp.AuthWrite">
    <description>Write access to the systemd-mcp service</description>
    <message>Authentication is required for write access to the systemd-mcp service</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
   </defaults>
   <annotate key="org.freedesktop.policykit.imply">org.freedesktop.systemd1.manage-units</annotate>
  </action>
</policyconfig>
